* {
  box-sizing: border-box;
  user-select: none;
}

.page{
  /*width: 2048px;
  height: 1536px;*/
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  padding: 10px;
  background-color: #000080;
  font-family: 'Montserrat', sans-serif;
}


.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  height: 93%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
}

.header__logo{
  width: 135px;
  height: 75px;
  margin: -10px 0 -10px 0;
}

.header__title{
  margin: 10px 0 0 0;
  font-size: 40px;
  font-weight: bold;
  color: gold;
}

.header__subtitle{
  color: rgba(255, 255, 255, 0.7);
}

.header__btm_info{
  width: 135px;
  height: 50px;
  margin: 5px 0 0 0;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: gold;
  border: 3px solid gold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.header__btm_info:active{
  background-color: #FFD700;
  box-shadow: 0 0 20px gold;
  color: black;
}

.cont{
  position: relative;
  width: 325px;
  height: 325px;
  padding: 5px 10px 5px 10px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.title{
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.btn{
  width: 70px;
  height: 70px;
  font-size: 35px;
  line-height: 0;
  color: #FFD700;
  outline: none;
  border: 2px solid #FFD700;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}
.btnt{
  padding: 30px 20px;
  font-size: 35px;
  line-height: 0;
  color: #FFD700;
  outline: none;
  border: 2px solid #FFD700;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.btnt:active{
  background-color: #FFD700;
  box-shadow: 0 0 20px gold;
  color: black;
}

.btn:active{
  background-color: #FFD700;
  box-shadow: 0 0 20px gold;
  color: black;
}

.btn_info{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 70px;
  height: 70px;
  font-size: 35px;
  font-weight: bold;
  color: #000080;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.btn_info:active{
  background-color: #FFD700;
  box-shadow: 0 0 20px gold;
}

.btn_act-red{
  background-color: red;
  color: black;
}

.btn_act-green{
  background-color: green;
  color: black;
}



.monitoring__title{
  display: inline-block;
  margin: 0;
  width: 50px;
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}

.monitoring__content{
  font-size: 75px;
  font-weight: 250;
  color: 	#FFD700;
}






.fan-coil__cont{
  display: inline-block;
  text-align: left;
}

.fan-coil__btm_cont{
  margin: 32px 0 25px 0;
}

.fan-coil__btm_title{
  display: block;
  margin-bottom: 5px;
  max-width: 170px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.fan-coil__act_cont{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  max-width: 180px;
  height: 100px;
  cursor: pointer;
}

.fan-coil__act{
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: gold;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid gold;
  border-radius: 50%;
  cursor: pointer;
}

.fan-coil__value_cont{
  position: relative;
  margin:  0 0 0 20px;
  display: inline-block;
  vertical-align: -57px;
  width: 40px;
  height: 150px;
}

.fan-coil__value_titl{
  position: absolute;
  left: -12px;
  top: -55px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.fan-coil__speed-html-value{
  position: absolute;
  left: -12px;
  top: -35px;
  display: inline-block;
  width: 525px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: gold;
}

.fan-coil__speed-input {
  position: absolute;
  left: -55px;
  top: 74px;
  -webkit-appearance: none;
  width: 150px;
  border-radius: 4px;
  height: 3px;
  border: 1px solid gold;
  transform: rotate(-90deg);
  outline: none;
}

.fan-coil__speed-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: green;
  border: 1px solid #bdc3c7;
  width: 30px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  }

  .fan-coil__speed-input::-webkit-slider-thumb:active{
    box-shadow: 0 0 20px gold;
  }






.set-temp__cont{
  margin: 40px 0 15px 0;
}

.set-temp__input{
  font-size: 50px;
  font-weight: 250;
  color: 	#FFD700;
}

.set-temp__num_title{
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}

.set-temp__btm_cont{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 10px;
  width: 200px;
}





.ventilation__cont{
  display: inline-block;
  text-align: left;
}

.ventilation__btm_cont{
  margin-top: 40px;
}

.ventilation__btm_title{
  display: block;
  margin-bottom: 5px;
  max-width: 75px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}






.more-modes__btm_cont{
  margin: 40px 0 0 0;
  
}





.curtains__value_cont{
  position: relative;
  margin:  -40px 0 0 175px;
  width: 40px;
  height: 150px;
}

.value__title{
  position: absolute;
  left: -12px;
  top: -35px;
  display: inline-block;
  width: 75px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  text-align: center;
  color: gold;
}

.curtains__speed-input {
  position: absolute;
  left: -55px;
  top: 40px;
  -webkit-appearance: none;
  width: 150px;
  border-radius: 8px;
  height: 75px;
  transform: rotate(90deg);
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.curtains__speed-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: green;
  border: 1px;
  width: 30px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  }

.curtains__speed-input::-webkit-slider-thumb:active{
  box-shadow: 0 0 20px gold;
}



.popap{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 128, 0.6);
}

.popap__content__text{
  height: 520px;
  overflow: auto;
}

.popap__content__text::-webkit-scrollbar {
  width: 20px;
  background-color: #c4f3ff;
}

.popap__content__text::-webkit-scrollbar-thumb {
  background-color: #223c50;
}

.popap__subtitle{
  font-size: 37px;
  margin: 0;
}

.popap__text{
  font-size: 30px;
}
.popap__title{
  font-size: 40px;
  text-align: center;
  line-height: 0;
  margin: 30px 0 30px 0;
  color: rgb(0, 0, 0);
}

.popap__open{
  display: flex;
}

.popap__content{
  position: relative;
  margin: auto;
  padding: 0 20px 0 20px;
  width: 800px;
  height: 600px;
  background-color:rgba(189, 245, 240, 0.808);
  border-radius: 20px;
  box-shadow: 0 0 7px black;
}

.popap__close{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  height: 50px;
  font-size: 65px;
  color: black;
  line-height: 0;
  outline: none;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 0 7px black;
  background-color: rgba(0, 0, 128, 0.3);
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.popap__close:active{
  box-shadow: none;
}


.fan-coil__popap_list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 448px;
  width: 100%;
  padding: 80px 30px 80px 175px;
  margin: 50px auto 0 auto;
  list-style-type: none;
  background-image: url('../images/map.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.fan-coil__popap_item{
  display: flex;
  width: 120px;
  margin: 0;
  align-items: center;
}

.fan-coil__popap_item-F1{
  margin: -50px 0 50px 0;
}

.fan-coil__popap_item-F2{
  margin: 50px 0 -50px 0;
}

.fan-coil__popap_cont-btm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 0;
  height: 120px;
}

.fan-coil__act_btm-on{
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: 1px solid black;
  box-shadow: 0 0 7px black;
  color: black;
  background-color: rgba(0, 255, 0, 0.2);
}

.fan-coil__act_btm-on:active{
  background-color: rgba(0, 255, 0, 0.5);
  box-shadow: none;
}

.fan-coil__act_btm-off{
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: 1px solid black;
  box-shadow: 0 0 7px black;
  color: black;
  background-color: rgba(255, 0, 0, 0.2);
}

.fan-coil__act_btm-off:active{
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: none;
}

.fan-coil__name{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  padding: 2px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 7px black;
  background-color: rgba(151, 151, 151, 0.7);
}

.fan-coil__name_act-off{
  background-color: rgba(255, 0, 0, 0.7);
  color: black;
}

.fan-coil__name_act-on{
  background-color: rgba(0, 255, 0, 0.7);
  color: black;
}