* {
  box-sizing: border-box;
  user-select: none;
}

.page{
  width: 2048px;
  height: 1536px;
  margin: 0 auto;
  padding: 10px;
  background-color: #000080;
  font-family: 'Montserrat', sans-serif;
}


.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  height: 93%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100px;
}

.header__logo{
  width: 270px;
  height: 150px;
  margin-top: -20px;
  margin: -20px 0 -20px 0;
}

.header__title{
  margin: 20px 0 0 0;
  font-size: 80px;
  font-weight: bold;
  color: gold;
}

.header__subtitle{
  color: rgba(255, 255, 255, 0.7);
}

.header__btm_info{
  width: 270px;
  height: 100px;
  margin: 10px 0 0 0;
  font-size: 43px;
  font-weight: bold;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: gold;
  border: 4px solid gold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.header__btm_info:active{
  background-color: #FFD700;
  box-shadow: 0 0 20px gold;
  color: black;
}

.cont{
  position: relative;
  width: 650px;
  height: 650px;
  padding: 10px 50px 50px 50px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
}

.title{
  display: block;
  margin-bottom: 20px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
}

.btn{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  font-size: 50px;
  line-height: 0;
  color: #FFD700;
  outline: none;
  border: 1px solid #FFD700;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.btn:active{
  background-color: #FFD700;
  box-shadow: 0 0 20px gold;
  color: black;
}

.btn_info{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
  font-size: 70px;
  font-weight: bold;
  color: #000080;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.btn_info:active{
  background-color: #FFD700;
  box-shadow: 0 0 20px gold;
}

.btn_act-red{
  background-color: red;
  color: black;
}

.btn_act-green{
  background-color: green;
  color: black;
}



.monitoring__title{
  display: inline-block;
  margin: 0;
  width: 100px;
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}

.monitoring__content{
  font-size: 150px;
  font-weight: 500;
  color: 	#FFD700;
}






.fan-coil__cont{
  display: inline-block;
  text-align: left;
}

.fan-coil__btm_cont{
  margin: 63px 0 50px 0;
}

.fan-coil__btm_title{
  display: block;
  margin-bottom: 10px;
  max-width: 300px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.fan-coil__act_cont{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  max-width: 360px;
  height: 200px;
  cursor: pointer;
}

.fan-coil__act{
  width: 80px;
  height: 80px;
  font-size: 50px;
  color: gold;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid gold;
  border-radius: 50%;
  cursor: pointer;
}

.fan-coil__act_on{
  background-color: green;
  border: 2px solid green;
}

.fan-coil__act_off{
  background-color: red;
  border: 2px solid red;
}
.fan-coil__value_cont{
  position: relative;
  margin:  0 0 0 60px;
  display: inline-block;
  vertical-align: -115px;
  width: 80px;
  height: 300px;
}

.fan-coil__value_titl{
  position: absolute;
  left: -25px;
  top: -110px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.fan-coil__speed-html-value{
  position: absolute;
  left: -25px;
  top: -70px;
  display: inline-block;
  width: 50px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: gold;
}

.fan-coil__speed-input {
  position: absolute;
  left: -110px;
  top: 148px;
  -webkit-appearance: none;
  width: 300px;
  border-radius: 8px;
  height: 3px;
  border: 1px solid gold;
  transform: rotate(90deg);
  outline: none;
}

.fan-coil__speed-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: green;
  border: 1px solid #bdc3c7;
  width: 40px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  }

  .fan-coil__speed-input::-webkit-slider-thumb:active{
    box-shadow: 0 0 20px gold;
  }






.set-temp__cont{
  margin: 80px 0 30px 0;
}

.set-temp__input{
  font-size: 100px;
  font-weight: 500;
  color: 	#FFD700;
}

.set-temp__num_title{
  display: block;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}

.set-temp__btm_cont{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 20px;
  width: 300px;
}





.ventilation__cont{
  display: inline-block;
  text-align: left;
}

.ventilation__btm_cont{
  margin-top: 80px;
}

.ventilation__btm_title{
  display: block;
  margin-bottom: 10px;
  max-width: 150px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
}






.more-modes__btm_cont{
  margin: 80px 0 0 0;
  
}

.more-modes__btm{
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px 0 0 0;
  background-size: cover;
  background-position: center;
  border: 1px solid #DAA520;
  border-radius: 50%;
  cursor: pointer;
}








.curtains__value_cont{
  position: relative;
  margin:  -80px 0 0 350px;
  width: 80px;
  height: 300px;
}

.value__title{
  position: absolute;
  left: -25px;
  top: -70px;
  display: inline-block;
  width: 50px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: gold;
}

.curtains__speed-input {
  position: absolute;
  left: -110px;
  top: 80px;
  -webkit-appearance: none;
  width: 300px;
  border-radius: 8px;
  height: 150px;
  transform: rotate(90deg);
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.curtains__speed-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: green;
  border: 1px;
  width: 40px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  }

.curtains__speed-input::-webkit-slider-thumb:active{
  box-shadow: 0 0 20px gold;
}



.popap{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 128, 0.6);
}

.popap__content__text{
  height:1000px;
  overflow: auto;
  border: 1px solid red;
}

.popap__subtitle{
  font-size: 75px;
  margin: 0;
}

.popap__text{
  font-size: 60px;
}
.popap__title{
  font-size: 40px;
}

.popap__open{
  display: flex;
}

.popap__content{
  position: relative;
  margin: auto;
  width: 1800px;
  height: 1200px;
  background-color:rgba(255, 255, 255, 0.7);
}

.popap__close{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
  font-size: 150px;
  color: black;
  line-height: 0;
  outline: none;
  border: black;
  border-radius: 50%;
  background-color: rgba(0, 0, 128, 0.3);
  cursor: pointer;
  transition: background-color 0.1s ease-out;
}




.fan-coil__popap_list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 1000px;
  width: 1700px;
  padding: 200px 150px 200px 300px;
  margin: 0 auto;
  list-style-type: none;
  background-image: url('../images/map.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.fan-coil__popap_item{
  display: flex;
  width: 240px;
  margin: 0;
  align-items: center;
}

.fan-coil__popap_item-F1{
  margin: -100px 0 100px 0;
}

.fan-coil__popap_item-F2{
  margin: 100px 0 -100px 0;
}

.fan-coil__popap_cont-btm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px 0 0;
  width: 100px;
  height: 220px;
}

.fan-coil__name{
  width: 100px;
  height: 100px;
  padding: 5px;
  font-size: 50px;
  border: 5px solid red;
}